@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/rubik-v26-cyrillic_latin-regular.woff2") format("woff2"),
       url("./fonts/rubik-v26-cyrillic_latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-display: swap;
  src: url("./fonts/rubik-v26-cyrillic_latin-500.woff2") format("woff2"),
       url("./fonts/rubik-v26-cyrillic_latin-500.woff") format("woff");
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Rubik";
  font-weight: 500;
  margin: 0;
}
/* start header */
.site-header {
  padding-bottom: 40px;
}
.header__box {
  margin-bottom: 30px;
  padding: 30px 0;
  background-color: #F6F6F6;
}
.container {
  width: 1240px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.namanganliklar__box {
  display: flex;
  align-items: center;
}
.logotip__link {
  margin-right: 35px;
}
.money__list {
  display: flex;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.money__item {
  font-weight: 400;
  line-height: 19px;
  color: #555555;
}
.money__item__add {
  margin-right: 25px;
}
.money {
  font-weight: 700;
  line-height: 19px;
  color: #2959CE;
}
.search__box {
  margin-right: 28px;
  /* display: flex; */
  /* align-items: center; */
  /* margin-right: 25px; */
  /* padding-top: 12px; */
  /* padding-right: 192px; */
  /* padding-bottom: 12px; */
  /* padding-left: 15px; */
  /* border-radius: 60px; */
  /* background-color: #fff; */
}
.form__input {
  width: 275px;
  /* height: 45px; */
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8d8d8d;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 41px;
  border: none;
  background-image: url("./images/search.svg");
  background-position: 15px center;
  background-repeat: no-repeat;
  border-radius: 60px;
}
.search {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
}
.language__box {
  width: 70px;
  height: 36px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: 25px;
  border: 3px solid #DCE6FF;
  background-color: #DCE6FF;
  border-radius: 39px;
}
.uz {
  margin-right: 8px;
  padding-top: 7px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  background-color: #fff;
  border-radius: 50%;
}
.ru {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #A6A6A6;
}
.botton__link {
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  text-decoration: none;
  line-height: 19px;
  background-color: #7296EC;
  color: #fff;
  border-radius: 10px;
}
/* .site__button {
  line-height: 19px;
  color: #fff;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  background-color: #7296ec;
  border-radius: 10px;
  border: none;
} */
.navigation {
}
.list {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 0;
}
.item {
  list-style: none;
}
.item__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #7F7F7F;
}
.site__hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #D1D1D1;
}
/* end header */

/* start aside */
.site__aside {
}
/* end aside */

/* start section */
.section__news {
  padding-top: 50px;
  padding-bottom: 60px;
}
.site__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
.site__news__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
.news__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.news__item {
  padding-top: 20px;
  padding-right: 18px;
  padding-bottom: 15px;
  padding-left: 17px;
  list-style: none;
  background-color: #f6f6f6;
  border-radius: 15px;
}
.news__add {
  margin-bottom: 10px;
}
.site__shooting {
  text-decoration: none;
}
.news__box {
  width: 360px;
  margin-bottom: 15px;
}
.box__tu {
  margin-bottom: 40px;
}
.news__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  color: #000;
}
.news__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;

}
.news__img {
  margin-bottom: 15px;
}
.advertising__box {
  display: flex;
  align-items: center;
}
.advertising__img {
  margin-right: 10px;
}
.advertising__text {
  margin-right: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;

}
.datetime {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;

}
/* end section */

/* start article */
.site__article {
  padding-bottom: 60px;
}
.connection__box {
  width: 1050px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 71px;
  padding-left: 29px;
  background: url("./images/bacground.png");
  background-repeat: no-repeat;
}
.connection__tu {
  width: 404px;
}
.connection {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 26px;
}
.connection__link {
  padding-top: 13px;
  padding-right: 30px;
  padding-bottom: 13px;
  padding-left: 30px;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  background-color: #f78b3b;
  border-radius: 10px;
  color: #fff;
}
/* end article */

/* start section */
.World {
}
.World__box {
  padding-bottom: 100px;
}
.World__title__texts {
  font-size: 24px;
  line-height: 28px;
}
.list__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.world__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.world__item {
  width: 797px;
  display: flex;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
  list-style: none;
  background: #f6f6f6;
  border-radius: 15px;
}
.world__item__add {
  margin-bottom: 0;
}
.world__items__link {
  display: block;
  text-decoration: none;
  color: #000;
}
.world__img {
  margin-right: 15px;
}
.message__box {
  width: 535px;
}
.message__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
}
.message__text {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 400;
  line-height: 22px;
  color: #4a4b4c;
}
.logotips__box {
  display: flex;
  align-items: center;
}
.logotip__images {
  margin-right: 10px;
}
.logotips__span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5F61;
}
.datetime {
  margin-left: 4px;
}
.Main__page__box {
}
.page__box {
  width: 393px;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 2px;
  /* padding-bottom: 25px; */
  padding-left: 17px;
  background: #F6F6F6;
  border-radius: 15px;
}
.main__page__box__link {
  text-decoration: none;
}
.page__title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}
.page__list {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0;
}
.page__item {
  list-style: none;
  margin-bottom: 20px;
}
.page__item__add {
  margin-bottom: 0;
}
.page__item__link {
  text-decoration: none;
}
.title__box__text {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.datetime__box {
  margin-bottom: 20px;
}
.datetime__box__add {
  margin-bottom: 0;
}
.site__hr {
  border: 1px solid #d2d2d2;
  color: #d2d2d2;
}
.datetime__span {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}
.datetime__main {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #5e5f61;
}
.aside__olmos {
}
.olmos__link {
}
.olmos__img {
}
.next__link__box {
  width: 797px;
  display: flex;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 17px;
  background: #eaeaea;
  border-radius: 10px;
}
.next__link {
  text-decoration: none;
  line-height: 19px;
  color: #000;
}
/* end section */

/* start footer */
.site__footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7297ef;
}
.footer__box {
  width: 998px;
  margin-right: auto;
  margin-left: auto;
}
.footer__img {
  margin-bottom: 15px;
}
.logotip__box {
  display: flex;
  border-bottom: 1px solid #cecece;
}
.boxx {
  width: 229px;
  margin-right: 203px;
}
.footer__logotip__text {
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff;
}
.footer__the__list {
  margin-top: 0;
  margin-right: 100px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.footer__the__item {
  line-height: 19px;
  margin-bottom: 20px;
  color: #fff;
}
.add {
  margin-bottom: 30px;
}
.footer__theme__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.footer__theme__item {
  line-height: 19px;
  margin-bottom: 20px;
  color: #fff;
}
.item__add {
  margin-bottom: 0;
}
.logotip__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text__boxx {
  width: 161px;
  display: flex;
}
.footer__text {
  font-size: 18px;
  line-height: 23px;
  margin-top: 20px;
  margin-bottom: 0;
  color: #fff;
}
.logotip__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.logotip__item {
  margin-right: 25px;
  list-style: none;
}
.logotip__item__add {
  margin-right: 0;
}
.logotip__item__ling__footer {
}
.logotip__item__img__footer {
}
/* end footer */